<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>taller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>972F96FB1BC2B8A30063FCEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972F97141BC2B8A30063FCEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972F971F1BC2B8A30063FCEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
